<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEBDEMO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEBDEMO.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <partial name="_nav">
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" ></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("updateCartCount", "CartManagmet")',  // Call controller to get cart count
                type: 'GET',
                success: function (response) {
                    $('#cart-count').text(response.itemCount);  // Update the count in the navigation bar
                },
                error: function () {
                    console.log("Failed to load cart count.");
                }
            });
        });
        

    </script>

    @if (TempData["OrderSuccessMessage"] != null)
    {
        <script>
            alert('@TempData["OrderSuccessMessage"]');
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
