@model  LoginUserViewModel
<section class="">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
         <form asp-action="SaveSignIN" asp-controller="Account" method="post" class="mx-1 mx-md-4">
             <div asp-validation-summary="All" class="text-danger"></div>

              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4" >
                <label class="form-label" asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control form-control-lg"
                  placeholder="Enter UserName" />
                <span asp-validation-for="UserName"></span>
              </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" asp-for="Password"></label>
                        <input asp-for="Password" class="form-control form-control-lg placeholder="Enter UserName" placeholder="Enter Your Password" />
                        <span asp-validation-for="Password"></span>
            </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                   <label class="form-check-label" asp-for="remmberme">Remmber Me</label>
                  <input class="form-check-input me-2" asp-for="remmberme" type="checkbox" value=""  />
                  <span asp-validation-for="remmberme"></span>

                </div>
           <div class="text-center text-lg-start mt-4 pt-2">
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <a asp-action="Index" asp-controller="Proudct">
                  <button type="submit" value="SaveSignIN" class="btn btn-primary btn-lg">
                      SignIN
                   </button>

                </a>            
                
            </div>
            
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                 <a asp-action="Register" asp-controller="Account"
                class="link-danger">Register</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
  
   
  
</section>